@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-hex: #2f3035;
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 238, 238, 238;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  font-family: 'Big Shoulders Display';
  color: rgb(var(--color-hex));
  background: rgb(var(--background-rgb));
}

.logo {
  font-family: var(--font-noto);
}
